* {
  margin: 0;
  padding: 0;
}

#header {
  /*height: 60px;*/
  text-align: center;
  font-size: 2em;
  color:white;
  background: dimgray;
}

#main {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  word-wrap: break-word;
}

#main .main-left {
  width: 48%;
  height: 200px;
  line-height: 50px;
  background:lightgray;
  float: left;
  text-align: center;
  /*vertical-align: middle;*/
}

#main .main-right {
  width: 48%;
  height: 200px;
  line-height: 50px;
  background: lightgray;
  float: right;
  text-align: center;
}

#footer {
  width: 80%;
  height: 50px;
  background: gray;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #main .main-left {
    width: 80%;
    margin: 0 auto;
    height: 200px;
    line-height: 50px;
    background:lightgray;
    float: none;
    text-align: center;
    /*vertical-align: middle;*/
  }

  #main .main-right {
    width: 80%;
    margin: 0 auto;
    height: 200px;
    line-height: 50px;
    background: lightgray;
    float: none;
    text-align: center;
  }
}