
body{
    margin: 0px;
}

.container{
    margin:0 auto;
    text-align: center;
}

#searchDiv{
    margin: 10px;
}

.progress {
    display: block;
    width: 100%;
    border: none;  
    background-color: white;
    color: green;
    height: 3px;
    margin: 0px;
}

.progress::-moz-progress-bar { background:green; }
.progress::-webkit-progress-bar { background: white; }
.progress::-webkit-progress-value  { background: green; }

.progressDone {
    display: block;
    width: 100%;
    border: none;  
    background-color: white;
    color: white;
    height: 3px;
    margin: 0px;
}

.progressDone::-moz-progress-bar { background:white; }
.progressDone::-webkit-progress-bar { background: white; }
.progressDone::-webkit-progress-value  { background: white; }

#keyword{
    width: 40%;
}

.showMoreBtn{
  width: 40%;
}

.container div{
    display: inline-block;
    margin: 1%;
    vertical-align: bottom;
    height: 100px;
    overflow: hidden;
}


.contentBlock{
    width: 40%;
   
}

@media screen and (max-width: 768px) {
    .contentBlock{
        width: 70%;
    }
}
