<div>
  <div class="content-wrapper">
    <div class="container">
      <h1>FTVP Dashboard</h1>
      <div class="row">
        <a href="" ui-sref=".pc">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="alert alert-info back-widget-set text-center">
              <i class="fa fa-desktop fa-5x"></i>
              <h3>{{pcnum}} PCs</h3> For Desktop Testing
            </div>
          </div>
        </a>
        <a href="" ui-sref=".mobile">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="alert alert-success back-widget-set text-center">
              <i class="fa fa-mobile fa-5x"></i>
              <h3>{{mobilenum}} Mobiles</h3> For Mobile Testing
            </div>
          </div>
        </a>
        <a href="" ui-sref=".vm">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="alert alert-warning back-widget-set text-center" ng-model="totalVM">
              <i class="fa fa-cloud fa-5x"></i>
              <h3>{{vmnum}} VMs</h3> For Testing
            </div>
          </div>
        </a>
        <a href="" ui-sref=".mac">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="alert alert-danger back-widget-set text-center">
              <i class="fa fa-apple fa-5x"></i>
              <h3>{{macnum}} Macs</h3> For Automation
            </div>
          </div>
        </a>
      </div>
      <div ui-view="">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <div ng-controller="CarouselDemoCtrl" id="slides_control">
              <div>
                <carousel interval="myInterval">
                  <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="width: 100%;">
                  </slide>
                </carousel>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="panel panel-primary " ng-controller="memberControl">
              <div class="panel-heading">
                  Current Users
              </div>
              <div class="panel-body chat-widget-main">
                <form ng-submit="addItem()">
                  <label for="">Add FTVP Members</label>
                  <input type="text" ng-model="member">
                  <hr>
                    <dl>
                      <dt>Member List</dt>
                      <dd ng-repeat="member in members track by $index">
                          {{member.text}}
                          <button type="button" id="memdel" class="btn btn-xs btn-danger"
                                  ng-click="delete($index, members)">
                            <i class="glyphicon glyphicon-remove-circle"></i>
                          </button>
                      </dd>
                    </dl>
                </form>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      Useful Information
                  </div>
                  <div class="panel-body">
                      <ul class="nav nav-tabs">
                          <li class="active"><a href="#home" data-toggle="tab">Common URL</a>
                          </li>
                          <li class=""><a href="#profile" data-toggle="tab">Useful documents</a>
                          </li>
                          <li class=""><a href="#messages" data-toggle="tab">Mobile automation</a>
                          </li>
                          <li class=""><a href="#settings" data-toggle="tab">Others</a>
                          </li>
                      </ul>

                      <div class="tab-content">
                          <div class="tab-pane fade active in" id="home">
                              <h5>Work URLs</h5>
                              <p>Test cases: <a href="https://rqmclm.rockwellautomation.com/qm/web/console/CVB%20FTViewPoint%20-%20RQM#action=com.ibm.rqm.planning.home.actionDispatcher&subAction=viewUserHome">CLM Web page</a></p>
                              <p>Report Issues: <a href="https://usmkeapps835.ra-int.com/cqweb/">CQ Web</a></p>
                              <p>Test automation Result: <a href="http://10.224.105.17:8080">Jenkins</a></p>
                          </div>
                          <div class="tab-pane fade" id="profile">
                              <h5>FTVP related documents</h5>
                              <p><a href="#">FTVP SE hands on</a></p>
                              <p><a href="#">FTVP ME hands on</a></p>
                          </div>
                          <div class="tab-pane fade" id="messages">
                              <h5>Mobile automation config</h5>
                              <p><a href="#">iOS devices automation hands on</a></p>
                              <p><a href="#">Android devices automation hands on</a></p>
                          </div>
                          <div class="tab-pane fade" id="settings">
                              <h5>Other useful documents</h5>
                              <p><a href="#">Selenium + Python automation environment set up</a></p>
                              <p><a href="#">Python automation training documents</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>