<div class="content-wrapper" ng-controller="macCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Mac Details Information</h4>
    </div>
    <div class="panel-body">
      <table st-table="rowCollection" class="table table-striped table-hover" st-safe-src="rowmac">
        <thead>
          <tr>
            <th>
              <label for="items">items by page</label>
              <input class="input-sm form-control ng-valid ng-dirty ng-valid-number ng-touched" name="items" id="items" type="number" ng-model="itemsByPage">
            </th>
            <th></th>
            <th></th>
            <th colspan="3">
              <input st-search placeholder="Search" class="input-sm form-control" type="search" />
            </th>
            <th>
              <!--<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#matchRuleDialog">-->
              <!--<span class="glyphicon glyphicon-plus pull-left"></span> <span-->
              <!--id="tv-iui-openCreateModal">创建</span>-->
              <!--</button>-->
              <div id="createButton">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newDeviceDialog">
                      <span id="tv-iui-createTemplate" name_i18n="tv_iui_i18n" ng-click="new()">New</span>
                  </button>
              </div>
              <div class="modal fade" id="newDeviceDialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                      </button>
                      <h4 class="modal-title" id="add-new-device">Add New Device</h4>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" id="templateForm" novalidate>
                        <div class="form-group">
                          <label class="control-label col-xs-3 col-sm-3" for="new-host-name">
                            <span id="new-host-name-label">Device Name</span> <span class="required">*</span>
                          </label>
                          <div class="col-xs-7 col-sm-7">
                            <input type="text" class="form-control dialog-input" id="new-host-name" ng-model="host_name" name="hostname" required>
                          </div>
                          <label class="control-label col-xs-3 col-sm-3" for="new-ip-address">
                            <span id="new-ip-address-label">Type</span> <span class="required">*</span>
                          </label>
                          <div class="col-xs-7 col-sm-7">
                            <input type="text" class="form-control dialog-input" id="new-ip-address" ng-model="ip_address" name="ipaddress" required>
                          </div>
                          <label class="control-label col-xs-3 col-sm-3" for="new-operation-system">
                            <span id="new-operation-system-label">Operation System</span> <span class="required">*</span>
                          </label>
                          <div class="col-xs-7 col-sm-7">
                            <input type="text" class="form-control dialog-input" id="new-operation-system" ng-model="op_system" required>
                          </div>
                          <!-- </div> -->
                          <!-- <div class="form-group"> -->
                          <label class="control-label col-xs-3 col-sm-3" for="new-owner">
                            <span id="new-owner-label">Owner</span> <span class="required">*</span>
                          </label>
                          <div class="col-xs-7 col-sm-7">
                            <select class="form-control dialog-input" id="new-owner" ng-model="owner" ng-options="owner for owner in activities">
                              <option value="" selected hidden></option>
                            </select>
                          </div>
                          <label class="control-label col-xs-3 col-sm-3" for="new-email">
                            <span id="new-email-label">Email</span> <span class="required">*</span>
                          </label>
                          <div class="col-xs-7 col-sm-7">
                            <input type="text" class="form-control dialog-input" id="new-email" ng-model="email" required>
                          </div>
                          <label class="control-label col-xs-3 col-sm-3" for="new-production">
                            <span id="new-production-label">Production</span> <span class="required">*</span>
                          </label>
                          <div class="col-xs-7 col-sm-7">
                            <input type="text" class="form-control dialog-input" id="new-production" ng-model="production" required>
                          </div>
                          <label class="control-label col-xs-3 col-sm-3" for="new-notes">
                            <span id="new-notes-label">Notes&nbsp&nbsp&nbsp</span>
                          </label>
                          <div class="col-xs-7 col-sm-7">
                            <textarea rows="3" class="form-control dialog-input" id="new-notes" ng-model="notes" />
                          </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" id="tv-iui-template-save" ng-click="addMac()">OK</button>
                      <button class="btn btn-default" data-dismiss="modal" id="tv-iui-template-cancle" ng-click="cancel()">Cancel</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </th>
          </tr>
          <tr>
            <th st-sort="host_name">Device Name</th>
            <th st-sort="ip_address">Type</th>
            <th st-sort="op_system">Operation System</th>
            <th st-sort="owner">Owner</th>
            <th st-sort="production">Production</th>
            <th st-sort="notes">Notes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in rowCollection">
            <td>{{row.host_name}}</td>
            <td>{{row.ip_address}}</td>
            <td>{{row.op_system}}</td>
            <td>
              <a ng-href="mailto:{{row.email}}">{{row.owner}}</a>
            </td>
            <td>{{row.production}}</td>
            <td>{{row.notes}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-danger" ng-click="removeRow(row)">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </button>
              <!-- <div class="modal fade" id="confirmDialog"
              data-backdrop="static" data-keyboard="false" aria-hidden="true">
              <div class="modal-dialog" style="width: 30%;">
              <div class="modal-content">
              <div class="modal-header">
              <h6 id="confirm-title">删除</h6>
              </div>
              <h4 id="confirm-content">确认删除此设备，删除不可恢复。</h4>
              <button type="submit" class="btn btn-primary" ng-click="removeRow(row)"
              id="tv-iui-template-save">确定</button>
              <button class="btn btn-default" data-dismiss="modal" id="tv-iui-template-cancel">取消</button>
              </div>
              </div>
              </div> -->
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>