<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="index2.css" type="text/css" id="csslink">
    <script src="index.js"></script>
    <meta charset="utf-8">
</head>

<body onresize="resize()">
    <div ng-app="myApp" ng-controller="myCtrl">
        <form name="searchForm">
            <div class="searchBox">
                <input ng-model="searchContent" placeholder="Input your keyword here">
                <button type="button" ng-click="GetRepo()">Search</button>
                <div style="color:red" ng-show="isWarningShow">
                    You have to input your keyword!
                </div>
            </div>
        </form>
        <div ng-show="isLoadingShow && !isWarningShow">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div ng-hide="isLoadingShow" ng-repeat="info in infos | limitTo:num">
            <div class="cell">
                <span>{{info.full_name}}</span>
                <br>
                <span>{{info.description}}</span>
            </div>
        </div>
    </div>
</body>

</html>
