
.Table{ 
    display: table;  
	border-spacing:20px;
	background-color:  white;
	width: 100%;
}

.Row{	
	display: table-row;
}

.Cell{	 
    display:table-cell;
    background-color: lightgray;
	height: 100px;  
}


@media screen and (max-width: 768px) {

.Table{ 
    width: 100%;
	background-color:  white;	
}

.Cell{
    width:700px;
	height: 100px;
	float: left;
	background-color: lightgray;	
}	
}