
body{
    margin: 0px;
}

.contentTable{
    margin:0 auto;
    text-align: center;
}

#searchDiv{
    margin: 10px;
}

#progress{
    display: block;
    width: 100%;
    height: 3px;
    color: green;
    margin: 0px;
}

#keyword{
    width: 40%;
}

.contentBlock{
    width: 40%;
    display: inline-block;
    height: 100px;
    margin: 1%;
    vertical-align: bottom
}

@media screen and (max-width: 768px) {
    .contentBlock{
        width: 70%;
        display: inline-block;   
        height: 100px;
        margin: 1%;
        vertical-align: bottom
    }

}
