<div class="content-wrapper" ng-controller="basicsCtrl">
  <h3>VMs details information</h3>
    <table st-table="rowCollection" class="table table-striped">
      <thead>
      <tr>
        <th>
        <label for="items">items by page</label>
          <input class="input-sm form-control ng-valid ng-dirty ng-valid-number ng-touched" name="items" id="items" type="number" ng-model="itemsByPage">
        </th>
        <th></th>
        <th></th>
        <th colspan="4">
          <input st-search placeholder="Search" class="input-sm form-control" type="search"/>
        </th>
      </tr>
      <tr>
        <th>Host Name</th>
        <th>IP Address</th>
        <th>Operation System</th>
        <th>Owner</th>
        <th>Production</th>
        <th>Notes</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in rowCollection">
        <td>{{row.host_name}}</td>
        <td>{{row.ip_address}}</td>
        <td>{{row.op_system}}</td>
        <td><a ng-href="mailto:{{row.email}}">{{row.owner}}</a></td>
        <td>{{row.production}}</td>
        <td>{{row.notes}}</td>
        <td>
          <button type="button" ng-click="removeRow(row)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove-circle"></i>
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage"></div>
        </td>
      </tr>
      </tfoot>
    </table>
</div>